<div class="row">
  <div class="col-lg-12">
    sdfdsfg
  </div>
  <div class="col-lg-12">
    sdfdsfg
  </div>
</div>  

<div class="row">
  <div class="col-lg-6">
    <%= render file: "#{::Rails.root}/public/menuetest.html" %>
  </div>
  <div class="col-lg-6">
    <%= render file: "#{::Rails.root}/public/handcoverani.html" %>
  </div>
</div> 