<div class="row">
  <div class="col-lg-4">
    sdfdsfg
  </div>
  <div class="col-lg-4">
    sdfdsfg
  </div>
  <div class="col-lg-4">
    sdfdsfg
  </div>
</div>  

<div class="row">
  <div class="col-lg-4">
    sdfdsfg
  </div>
  <div class="col-lg-4">
    sdfdsfg
  </div>
  <div class="col-lg-4">
    sdfdsfg
  </div>
</div> 