<!DOCTYPE html>
<html>
  <head>
    <title>Bandshowcase</title>    
    <link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.css" media="all" /><!-- scroll in playlist -->
        <link rel="stylesheet" type="text/css" href="css/jquery.selectbox.css" /><!-- playlist selector dropdown -->
        <link rel="stylesheet" type="text/css" href="css/html5audio_default.css" />
    <link rel="stylesheet" type="text/css" href="css/html5audio_wall.css" />
    <%= stylesheet_link_tag "narrow", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "narrow", "data-turbolinks-track" => false %>
    <script type="text/javascript" src="js/swfobject.js"></script><!-- flash backup --> 
       
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script><!-- jquery ui sortable/draggable -->
        <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script><!-- mobile drag/sort -->
        <script type="text/javascript" src="js/jquery.XDomainRequest.js"></script><!-- ofm ie9 and below fix -->
        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script><!-- playlist selector dropdown -->
        <script type="text/javascript" src="js/id3-minimized.js"></script><!-- id3 tags -->
        <script type="text/javascript" src="http://www.youtube.com/player_api"></script><!-- youtube -->
        <script type="text/javascript" src="js/jquery.apYoutubePlayer.min.js"></script><!-- youtube -->
        <script type="text/javascript" src="js/jquery.apPlaylistManager.min.js"></script>
        <script type="text/javascript" src="js/jquery.apTextScroller.min.js"></script><!-- scrollable song name -->
        <script type="text/javascript" src="js/jquery.html5audio.min.js"></script>
        <script type="text/javascript" src="js/jquery.html5audio.func.js"></script>
        <script type="text/javascript" src="js/jquery.html5audio.settings_wall.js"></script>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="/assets/jumbotron-narrow.css" rel="stylesheet">
    <link href="/assets/module_a.css.less" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
</head>
<body role="document">

  <%= yield %>

</body>
</html>
