<!DOCTYPE html>
<html>
  <head>
    <title>Bandshowcase</title>    
   
    <link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.css" media="all" /><!-- scroll in playlist -->
        <link rel="stylesheet" type="text/css" href="css/jquery.selectbox.css" /><!-- playlist selector dropdown --> 
        <link rel="stylesheet" type="text/css" href="css/html5audio_default.css" />
    <link rel="stylesheet" type="text/css" href="css/html5audio_playlist_selector.css" />

    <%= stylesheet_link_tag "narrow2", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "narrow", "data-turbolinks-track" => false %>
    <script type="text/javascript" src="js/swfobject.js"></script><!-- flash backup --> 
       
           <script type="text/javascript" src="js/swfobject.js"></script><!-- flash backup --> 
      
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script><!-- jquery ui sortable/draggable -->
        <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script><!-- mobile drag/sort -->
        <script type="text/javascript" src="js/jquery.XDomainRequest.js"></script><!-- ofm ie9 and below fix -->
        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script><!-- scroll in playlist -->
        <script type="text/javascript" src="js/jquery.selectbox-0.2.js"></script><!-- playlist selector dropdown -->
        <script type="text/javascript" src="js/id3-minimized.js"></script><!-- id3 tags -->
        <script type="text/javascript" src="js/jquery.apYoutubePlayer.min.js"></script><!-- youtube -->
        <script type="text/javascript" src="js/jquery.apPlaylistManager.min.js"></script>
        <script type="text/javascript" src="js/jquery.apTextScroller.min.js"></script><!-- scrollable song name -->
        <script type="text/javascript" src="js/jquery.html5audio.min.js"></script>
        <script type="text/javascript" src="js/jquery.html5audio.func.js"></script>
        <script type="text/javascript" src="js/jquery.html5audio.settings_playlist_selector.js"></script>
    <script src="/assets/easeljs-0.7.0.min.js"></script>
    <script src="/assets/tweenjs-0.5.0.min.js"></script>
    <script src="/assets/movieclip-0.7.0.min.js"></script>
    <script src="/assets/preloadjs-0.4.0.min.js"></script>
    <script src="/assets/modul_a.js"></script>

    <script>
    var canvas, stage, exportRoot;

    function init() {
      canvas = document.getElementById("canvas");
      images = images||{};

      var loader = new createjs.LoadQueue(false);
      loader.addEventListener("fileload", handleFileLoad);
      loader.addEventListener("complete", handleComplete);
      loader.loadManifest(lib.properties.manifest);
    }

    function handleFileLoad(evt) {
      if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
    }

    function handleComplete() {
      exportRoot = new lib.modul_a();

      stage = new createjs.Stage(canvas);
      stage.addChild(exportRoot);
      stage.update();

      createjs.Ticker.setFPS(lib.properties.fps);
      createjs.Ticker.addEventListener("tick", stage);
    }
    </script>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <!-- <title>Narrow Jumbotron Template for Bootstrap</title> -->

<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = 'f84feaa2da3098eff3dcdd7de942dddc';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

</head>
<body role="document" onload="init();" style="background-color:#D4D4D4">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=231311910390394";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <%= yield %>

</body>
</html>
